<article class="geodir-category-listing fl-wrap order-number">
    <a href="index.html">
        <div class="geodir-category-img">
            <img class="listing-background" src="images/all/1.jpg" alt="">
            <div class="overlay"></div>
        </div>

        <div class="geodir-category-content fl-wrap">
            <a class="listing-geodir-category listing-domain" href="index.html"></a>
            <div class="listing-avatar"><a href="index.html"><img class="listing-profilepic" alt=""></a>
                <span class="avatar-tooltip">Added By <strong>Lisa
                        Smith</strong></span>
            </div>
            <h3 class="listing-title"><a href="index.html"></a></h3>
            <h3 class="listing-firstname"></h3>

            <p class="listing-bio"><a href="index.html"></a></p>
            <div class="geodir-category-options fl-wrap">
                <!-- <div class="listing-rating card-popup-rainingvis" data-starrating2="5">
                            <span>(7 reviews)</span>
                       </div>  -->
                <div class="geodir-category-location">
                    <a href="#"><i class="fa fa-map-marker"></i><span class="listing-city"></span></a>
                </div>
            </div>
        </div>
    </a>
</article>



